body{
	color: #000;
}
.skewedBox{
	position: relative;
	background: linear-gradient(to bottom right, #C5E8FF, #C5E8FF);
	transform: skew(0deg, 0deg) translateY(-185px);
}
.box{
	font-family: 'Abril Fatface', sans-serif;
	padding: 30px;
	padding-top: 145px;
	text-align: center;
	transform: skew(0deg, 0deg);
}
.dm{
	font-family: 'Abril Fatface', sans-serif;
}
.details, .box h6{
	font-family: 'Roboto', serif;
}

.button {
    background-color: #fff;
    font-family: serif; 
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}